@import '../../variables.scss';

.projects {
    padding-block: 6.25rem;
    padding-inline: 2rem;
    background: $clr-semi-dark-gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;

    h1 {
        text-align: center;
        color: $clr-dark-blue;
    }

    .button {
        text-align: center;
        text-decoration: none;
        color: $clr-soft-white;
        background: $clr-burgundy;
        padding: 1rem;
        width: 15rem;
        display: grid;
        place-items: center;
        font-size: 1rem;
        font-weight: 700;
        border-radius: 1rem;
        transition: 150ms;
        &:hover {
            background: $clr-semi-dark-gray;
            color: $clr-burgundy;
        }
        @media screen and (max-width: 360px) {
            width: 8rem;
        }
    }
}
