@import '../../variables.scss';

.homepage {
    background: $clr-soft-white;
    display:grid;
    grid-template-columns:40% 60%;
    align-items:center;
    
    width:100vw;
    height: 100vh;
    
    //tablet portrait and small tablets
    @media screen and (max-width:1020px) {
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        
        text-align:center;
    }
}