:root {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-dark: #475361;
  --color-orange: #dd751d;
  --color-blue: #64c8d8;
  --text-color: var(--color-dark);
  --text-color-light: #fff;
}
